requests
tqdm
Pillow
opencv-python
gallery-dl
beautifulsoup4
imutils
numba
psutil
imagehash
huggingface_hub
natsort
aiofiles
pytesseract
transformers
numpy
scipy
accelerate
qwen_vl_utils
optimum
optimum[gptq]
tensorflow
onnx
onnxruntime